.bar-container {
    display: flex;
    justify-content: center;
}

.bar {
    min-height: 20px;
    width: 20px;
    background-color: #348feb;
    border: 1px solid darkblue;
    margin-left: 0.5px;
    margin-right: 0.5px;
}