.dropdown-menu {
    position: relative;
}

.dropdown-heading {
    padding: 10px 20px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-heading > svg {
    padding: 1px;
    margin-left: 10px;
    cursor: pointer;
}

.dropdown-label {
    margin-right: 7px;
}

.dropdown-value {
    border-bottom: 1px solid white;
}

.dropdown-options {
    position: absolute;
    cursor: pointer;
    background-color: #424242;
    width: 100%;
}

.dropdown-option {
    padding: 10px;
    border: 1px solid white;
    overflow: hidden;
}

.border-none {
    border-bottom: 1px solid transparent;
}

.hidden {
    display: none;
}